

.graph_box{

	padding-top:40px ;
	padding-bottom: 20px;
}





.axis path,
    .axis line {
        fill: none;
        stroke: black;
        shape-rendering: crispEdges;
    }
    
    .axis text {
        font-family: sans-serif;
        font-size: 11px;
    }

   /* .input-group{
      padding:;
    }
*/

.info_box{


	height:600px;
	padding:40px 20px 20px 20px;
	/*background-color: green;*/
}

.common_box{
	height: 100%;
	width: 100%;
	padding:15px 15px;
	/*background-color: red;*/

}
.data{
	
	padding:10px 10px;
	/*border:2px solid black;*/
	


}

.info_text{

padding:5px 15px 15px 10px;
	font-size:18px;

}
.info_data{

	padding:5px 10px 10px 10px;
	font-size:18px;

}

.data_add{
	
	width:100%;

	padding:10px 10px;
	/*border:2px solid black;*/
	display: none;



}

.add{

		padding:5px 10px 10px 10px;
}


/*.btn-default{

	margin-top:10px;
	margin-left:10px;
	margin:10px auto;
}
*/
.data_delete{
	
	width:100%;

	padding:10px 10px;
/*	border:2px solid black;*/
	display: none;
}




